<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subha.phrasely">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Phrasely">
        <activity android:name=".SentenceBreakdown"></activity>
        <activity android:name=".LanguageChat" />
        <activity android:name=".GeneratedSentence" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".LanguageBot"
            android:label="Language Bot"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".PhraseMaker"
            android:label="Phrase Maker"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".HomePage"
            android:label="Home" />
        <activity
            android:name=".MainActivity"
            android:label="Phrasely">
            <intent-filter>
                //MAIN refers to it being launcher and reference to activity
                <action android:name="android.intent.action.MAIN" />
                //LAUNCHER suggests its the launching page
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>